@import './normalize.scss';
@import './fonts.scss';
@import './session_form.scss';
@import './nav_bar.scss';
@import './carousel.scss';
@import './currency_table.scss';
@import './details_page.scss';
@import './footer.scss';
@import './search_page.scss';
@import './trading.scss';
@import './trading_modal.scss';
@import './dashboard.scss';


html[data-location="/login"], 
html[data-location="/signup"],
html[data-location="/dashboard"], 
html[data-location="/price/bitcoin"],
html[data-location="/price/ethereum"], 
html[data-location="/price/litecoin"], 
html[data-location="/price/xrp"],
html[data-location="/price/bitcoin-cash"], 
html[data-location="/price/eos"], 
html[data-location="/price/chainlink"], 
html[data-location="/price/stellar-lumens"], 
html[data-location="/price/tezos"], 
html[data-location="/price/dash"], 
html[data-location="/price/ethereum-classic"], 
html[data-location="/price/usd-coin"], 
html[data-location="/price/zcash"], 
html[data-location="/price/basic-attention-token"], 
html[data-location="/price/0x"], 
html[data-location="/price/augur"], 
html[data-location="/price/dai"], 
html[data-location="/prices"] {
// html[data-location="/login"], html[data-location="/signup"] {        // LIGHT MODE
    background-color: #000a13fa;  // DARK MODE
    // background-color: #0066cc;   // baby blue
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {                              // root == html
    font-size: 14px;
    // margin: 0;
    // padding: 0;
    // height: 100%;
}

#root {
    min-height: 100%;
    position: relative;
    // height: 100%;                // For IE 6 and 5.5 only
}

body {
    font-family: proxima-nova, helvetica neue, Helvetica;
    line-height: 20px;    
}

h2 {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 1.75rem;
}

form {
    margin: 0 auto;                  // centers horizontally
    width: 25rem;
    // height: 10rem;                   // if we hardcode this, there will be overflow from children elemen ts
    padding: 32px 24px;              // 1rem == font size of html element (default 16px)
    color: grey;                
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 19px #10101073;
    label {
        display: block;              // put on own line
    }
}
