@import './normalize.scss';
@import './fonts.scss';
@import './session_form.scss';
@import './nav_login.scss';
@import './nav_greeting.scss';

html[data-location="/login"] {
    background-color: #0066cc;
}

:root {                              // root == html
    font-size: 14px;
}

body {
    font-family: proxima-nova, helvetica neue, Helvetica;
    line-height: 20px;
}

h2 {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 1.75rem;
}

form {
    margin: 0 auto;                  // centers horizontally
    width: 25rem;
    // height: 10rem;                   // if we hardcode this, there will be overflow from children elemen ts
    padding: 32px 24px;              // 1rem == font size of html element (default 16px)
    color: grey;                
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 19px #10101073;
    label {
        display: block;              // put on own line
    }
}
