.gradient-homepage {
    height: 2rem;
    width: 100%;
    // background: pink;
    background-image: linear-gradient(#00142836, rgba(0, 8, 255, 0))
}

.description-homepage {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 1.02rem;
}

div#table {
    // margin-top: 2rem;
    margin: 2rem 7rem 0 7rem;
    width: available;
    padding-bottom: 125px;
    // background: pink;
}

table.currencies {
    // margin: 0 auto;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    // background: lightgrey;

    .currency-logo {
        width: auto;
        height: 3rem;
    }

    col.currency-id {
        width: 2rem;
    }
    
    th, td {
        // background: transparent;
        border-bottom: 1px solid #00000047;
    }

    tr {
        padding: 0 1rem;
        
        th {
            text-align: left;
            
        }
        td {
            padding: 0.5rem 0;
            height: 3rem;
            font-size: 1.1rem;
            
            &:nth-of-type(2) {
                img.currency-logo {
                    vertical-align: middle;
                }
                span {   
                    margin-left: 1ex;
                }
            }
        }
    }

    svg.currency-chart {
        height: available;
    }
    
    thead {
        text-transform: uppercase;
    }

    button.currency-trade {
        margin: 0;
        padding: 1rem .8rem;
        border-radius: 3px;
    }
}

.mini-table-row:hover {
    background: #80808075;
    cursor: pointer;
}