#dashboard-container {
  width: 100%;

  #wallets-transactions-container {
    width: 50%;
    min-width: 750px;
    margin: 0 auto;
    background: lightblue;

    #wallets {
      background: grey;
      display: inline-block;
    }
  
    #transactions {
      background: pink;
      display: inline-block;
    }
  }
}