div#timeframe {
    background: #ff9e9e;
}

#time-periods {
    
	li {
		display: inline;
		margin-right: 1rem;
		color: #9c9898;
		
		.time-period-active {
			color: darkblue;
		}

		&:hover {
			color: black;
			cursor: pointer;
		}

		&.month-active, &.day-active, &.week-active, &.month-active, &.year-active  {
			color: black;
		}
		// day-active
		// week-active
		// month-active
		// year-active
	}
}

// div#detail-wrapper {	// DARK MODE
//     color: white;
//     background: #000000fa;
// }

div#detail-wrapper {
	margin: 3.5rem 7rem;
	width: 800px;
	background: pink;
	display: flex;
}

section#left-detail {
	// display: inline-block;
	background: lightgrey;
	width: 41rem;
}

section#right-detail {
	// display: inline-block;
	background: yellow;
	width: 16rem;
}

h2#title {
    text-align: left;
}


ul#currency-info {
	background: grey;

	li {
		display: inline-block;
		margin-right: 2rem;
		background: #b1b1b1;
		
		h3 {
			background: pink;
			font-weight: 400;
		}
	}
}
// dark blue #00030cfc;


// .recharts-tooltip-wrapper {
// 	background: black;
// 	color: white;
// 	border-radius: 2px;
// }

.custom-tooltip {
	background: black;
	color: white;
	border-radius: 2px;
	width: 130px;
	height: 50px;
}

// <div className="custom-tooltip">
// 	<p className="tooltip-label">{`HELLLOO : ${payload[0].value}`}</p>
// </div>