h1.chart-title {
	text-transform: capitalize;
	margin-bottom: 0;
	padding-bottom: 0;
	// color: black;														// LIGHT MODE
	color: white;		// DARK MODE
}

.sym-title {
	display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    color: grey;								// LIGHT MODE
}

h3.current-price {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.8rem;
	font-weight: 500;
	// color: black;								// LIGHT MODE
	color: white;			// DARK MODE
}

// div#timeframe {
//     // background: #ff9e9e;														// FOR TESTING
// }

#time-periods {
    
	li {
		display: inline;
		margin-right: 1rem;
		color: #9b9a9a;							// LIGHT MODE
		
		.time-period-active {
			// color: darkblue;					  // LIGHT MODE
			color: white;					    // LIGHT MODE
		}

		&:hover {
			// color: black;				      // LIGHT MODE
			color: #0066cc;				// DARK MODE
			cursor: pointer;
		}

		&.month-active, &.day-active, &.week-active, &.month-active, &.year-active  {
			// color: black;						// LIGHT MODE
			color: #0066cc;				// DARK MODE
		}
	}
}


div#detail-wrapper {
	// margin: 3.5rem 7rem;
	margin: 3.5rem 7rem 0 3.5rem;
	padding-bottom: 125px;
	width: 800px;
	// background: pink;												    	// FOR TESTING
	display: flex;
}

section#left-detail {
	// background: lightgrey;													// FOR TESTING
	width: 41rem;
}

section#right-detail {
	// background: yellow;														// FOR TESTING
	width: 16rem;
}

h2#title {
	text-align: left;
	// color: black;														// LIGHT MODE
	color: white;				// DARK MODE
	margin-bottom: 0;
}


ul#currency-info {
	// background: grey;
	// color: black;															// LIGHT MODE
	color: white;				// DARK MODE

	li {
		display: inline-block;
		margin-right: 2rem;
		// background: #b1b1b1;  											    // FOR TESTING
		
		h3 {
			// background: pink;										        // FOR TESTING
			font-weight: 400;
		}
	}
}

.currency-detail-title {
	font-size: 1rem;
    font-weight: 410;
}

h3.currency-detail {
    margin: .4rem 0 0;
}
// dark blue #00030cfc;


// .recharts-tooltip-wrapper {
// 	background: black;
// 	color: white;
// 	border-radius: 2px;
// }

ul#time-periods {
    margin-top: 0;
}

.custom-tooltip {
	background: #002244;
	color: white;
	border-radius: 2px;
	width: 130px;
	height: 50px;

	.tooltip-label, .tooltip-time {
		text-align: center;
	}
	.tooltip-label {
		margin: 0;
		padding: 5px 0 0 0;
		font-size: 1.25rem;
	}
	.tooltip-time {
		margin: 0;
		padding: 0 0 5px 0;
		font-size: .85rem;
	}
}

// <div className="custom-tooltip">
// 	<p className="tooltip-label">{`$ ${payload[0].value}`}</p>
// 	<p className="tooltip-time">{`${day} ${time}`}</p>
// </div>
p#description {
	margin-left: 1rem;
	// color: black;													// LIGHT MODE
	color: white;					// DARK MODE

}

div#description-container {
    margin: 3rem 0;
}

h3#resources {
	// margin-bottom: .7rem;
	margin-bottom: .3rem;
    font-weight: 400;
	font-size: 1rem;
	// color: black;									// LIGHT MODE
	color: white;									// DARK MODE
}

li.resources-link {
    list-style-type: none;
    margin: 0 0 0 1rem;			// margin left 1rem
	padding: 0 0 .1rem 0;

	a {
		// color: #002244;														  // LIGHT MODE
		color: white;							// DARK MODE
		text-decoration: none;
		// &:visited { color: black }											  // LIGHT MODE
		&:visited { color: white }				// DARK MODE
		// &:hover { color: #002244 }											// DARK BLUE
		&:hover { color: #458dc3 }										      // LIGHT MODE
	}
}

h2#news-header {
	text-align: left;
	// color: black;															  // LIGHT MODE
	color: white;								// DARK MODE
}

ul.news {
	list-style-type: none;
	padding: 0;
	margin-left: 1rem;
	
	li a {
		text-decoration: none;
		// color: black;														  // LIGHT MODE
		color: white;							// DARK MODE
		&:hover { color: #458dc3 }
	}
}



.news-item {
    display: flex;
}

p.news-source, p.news-date, p.news-symbol {
	display: inline-block;
	margin-right: 1rem;
	margin-top: 0;
	// color: black;								// LIGHT MODE
	color: rgb(111, 111, 111);				// DARK MODE
}

p.news-body {
	margin-top: 0;
	margin-right: 21px;
}

img.news-image {
	width: 73px; 
	float: right;
}


button.detail-trade {
	margin: 0 auto;
	display: flex;
	cursor: pointer;
}

    