#time-periods {
    
	li {
		display: inline;
		margin-right: 1rem;
		color: #9c9898;
		
		.time-period-active {
			color: darkblue;
		}

		&:hover {
			color: black;
			cursor: pointer;
		}

		&.month-active, &.day-active, &.week-active, &.month-active, &.year-active  {
			color: black;
		}
		// day-active
		// week-active
		// month-active
		// year-active
	}
}

section#left-detail {
	background: lightgrey;
	display: inline-block;
}

section#right-detail {
	display: inline-block;
}