@font-face {
  font-family: proxima-nova;
  src: asset-url('proxima-nova-light.woff')
    format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: asset-url('proxima-nova.woff')
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: asset-url('proxima-nova-semibold.woff')
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: asset-url('proxima-nova-bold.woff')
    format("woff");
  font-weight: 700;
  font-style: normal;
}
