div#footer-wrapper {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
}

div#footer {
    height: 100%;
    width: 100%;
    // background: #001428;
    background: #00458a;
    color: white;
    text-align: center;
}

#footer-padding-top {
    width: 100%;
    height: 24px;
}

#footer-name {
    margin-right: 5px;
}

#footer-portfolio {
    color: white;
    margin-left: 10px;
}

#footer-portfolio:hover {
    color: black;
}
