div#nav-login-container {
    padding: 13px;
    margin: 0px 20px;
}

img#nav-login-logo {
    width: 9rem;
}

div#nav-login-right {
    ul {
        list-style-type: none;
        font-size: 15px;
        display: flex;

        li a{
            padding: 8px;
            text-decoration: none;
            color: white;
            margin-left: 7px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    float: right;
}


a.nav-selected {
    border: 2px solid white;
    border-radius: 2px;
}