div#nav-greeting-container {
    padding: 13px;
    margin: 0px 60px;
}

img#nav-greeting-logo {
    width: 9rem;
}

div#nav-greeting-right {
    ul {
        list-style-type: none;
        font-size: 15px;
        display: flex;

        li a{
            padding: 8px;
            text-decoration: none;
            color: black;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    float: right;
}

.currentLink {
    border: 2px solid black;
}