div#nav-container {
    padding: 13px 0px;
    background: black;
}

a#nav-logo {
    height: fit-content;
    margin: auto 1rem auto 7rem;           
    img {
        width: 9rem;
    }
}

#nav-container {           
    display: flex;
}

#nav-sections {
    display: flex;
    width: 100%;
    margin-right: 7rem;
}

div.nav-section {
    ul {
        list-style-type: none;
        font-size: 13px;
        display: flex;
        padding-left: 0;
        li a{
            text-transform: uppercase;
            padding: 8px;
            text-decoration: none;
            color: white;
            margin-left: 7px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    &#nav-left {
        flex-grow: 1;
    }
}

.nav-selected {
    border: 2px solid white;
    border-radius: 2px;
}