div#nav-container {
    padding: 13px;
    margin: 0px 20px;
}

a#nav-logo {
    height: fit-content;
    margin: auto 1rem auto 0;
    img {
        width: 9rem;
    }
}

#nav-container {
    display: flex;
}
#nav-sections {
    display: flex;
    width: 100%;
}

div.nav-section {
    ul {
        list-style-type: none;
        font-size: 15px;
        display: flex;
        padding-left: 0;
        li a{
            padding: 8px;
            text-decoration: none;
            color: black;
            margin-left: 7px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    &#nav-left {
        flex-grow: 1;
    }
}

.nav-selected {
    border: 2px solid black;
    border-radius: 2px;
}