.search-ticker, .search-name {
  color: white;
}

#search-container {
  min-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 0 7rem;
}

.search-table {
  list-style-type: none;
  // background: grey;
  color: white;
  // display: inline-block;
  padding: 0;
  width: 100%;
  vertical-align: middle;

  .search-logo, .search-logo-header {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
  }

  .search-ticker, .search-ticker-header {
    width: 15%;
    display: inline-block;
  }

  .search-name, .search-name-header {
    width: 20%;
    display: inline-block;
  }

  .search-price, .search-price-header {
    width: 15%;
    display: inline-block;
    color: white;
  }    

  .search-change24-negative, .search-change24-positive, .search-change24-header {
    width: 15%;
    display: inline-block;
  } 

  .search-change24-negative {
    color: red;
  }

  .search-change24-positive {
    color: green;
  }

  .search-marketCap, .search-marketCap-header {
    width: 15%;
    display: inline-block;
    color: white;
  } 

  .search-trade, .search-trade-header {
    width: 10%;
    // display: inline-block;
  } 

  .search-tr-header {
    border-bottom: 1px solid white;
    box-sizing: border-box;
    padding: .5rem 0;
    display: table;
    width: 100%;
    font-weight: bold;
  }

  .search-tr {
    border-bottom: 1px solid white;
    box-sizing: border-box;
    padding: 1rem 0;
    height: 5rem;
    display: table;
    width: 100%;
  }

  .search-tr:hover {
    background: #1d2329;
    // background: darkgrey;
  }
}


button.currency-trade-prices {
  margin: 0;
  padding: 0 .8rem;
  border-radius: 3px;
  cursor: pointer;
}


img.search-currency-logo {
  width: 3rem;
}

.search-tr-link {
  a:visited {
    color: white;
  }
}