.search-ticker, .search-name {
  color: white;
}

.search-ul {
  list-style-type: none;
  background: grey;
  color: white;
  display: inline-block;

  .search-ticker, .search-ticker-header {
    width: 70px;
    display: inline-block;
  }

  .search-name, .search-name-header {
    width: 120px;
    display: inline-block;
  }

  .search-price, .search-price-header {
    width: 90px;
    display: inline-block;
  }    

  .search-change24-negative, .search-change24-positive, .search-change24-header {
    width: 100px;
    display: inline-block;
  } 

  .search-change24-negative {
    color: red;
  }

  .search-change24-positive {
    color: green;
  }

  .search-marketCap, .search-marketCap-header {
    width: 90px;
    display: inline-block;
  } 

  .search-trade, .search-trade-header {
    width: 90px;
    display: inline-block;
  } 
  
  .search-li:hover {
    background: darkgrey;
  }
}


button.currency-trade-prices {
  margin: 0;
  padding: 0 .8rem;
  border-radius: 3px;
}




// <ul className="search-ul">
//           <li className="search-li">
//             <div id="search-results-header">
//               <span className="search-ticker-header">Symbol</span>
//               <span className="search-name-header">Name</span>
//               <span className="search-price-header">Price</span>
//               <span className="search-change24-header">Change 24HR</span>
//               <span className="search-marketCap-header">Market Cap</span>
//               <span className="search-trade-header">Trade</span>
//             </div>
//           </li>
//           {whatToMap.map( (currency, i) => {
//             return (
//             <li key={i} className="search-li">
//                 {/* <div id="search-results-container"> */}
//                 <Link to={`/price/${currency.toLowerCase()}`} className="search-li-link">
//                   <span key={i + 1} className="search-ticker">{currency}</span>
//                   <span className="search-name">{nameToMap[i]}</span>
//                   <span className="search-price">Price</span>
//                   <span className="search-change24">Change 24HR</span>
//                   <span className="search-marketCap">Market Cap</span>
//                 </Link>
//                   <span className="search-trade">Trade</span>
//                 {/* </div> */}
//             </li>
//             );
//           })}
//         </ul>

